#
# this is the configuration for DEV.
#
# this is a Fins Application configuration file.
#
[model]
class=model
debug=1
#datasource=mysql://user:pass@host/db
datasource=sqlite://${appdir}/db/${appname}_${config}.sqlite3

[controller]
class=controller
reload=1

[view]
class=view
reload=1

[application]
name=matrixlib
class=application
